.footerGridWrapper{
    --background: none;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .footerList{
        background-color: #f2f2f0;

        .footerCol{
            .footerText{
                font-size: 5vw;
                display: flex;
                justify-content: center;
                padding-bottom: 4vw;
            }
            .footerImg{
                width: 60%;
                margin: auto;
            }
        }
    }
}