.heroImage{
    box-shadow: unset;
}

.submenu{
    .subBtn{
        --color: #000000;
        --background: none;
        font-size: 3vw;
        --box-shadow: unset;
    }
}
.cardsWrapper{
    .frontPageHeader{
        display: grid;
        grid-template-columns: 80% 20%;
        
        Ion-Card-Header{
            text-align: center;
            margin-left: 32%;
            font-size: 5vw;
        }
        .likePlace{
            display: grid;
            justify-content: flex-end;
            Ion-Icon{
                color: red;
                font-size: 5vw;
            }
        }
    }
    .placesImage{
        Ion-Img {
            border-radius: 15px !important;
            overflow: hidden;
          }
    }
    .distance{
        color: black;
    }
    .readMore{
        display: flex;
        justify-content: end;
        color: black;
    }
}

.blackToTop{
    background-color: #BF8C6F;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 4%;
    font-size: 6vw;
    Ion-Card-Header{
        color: white;
    }
    .blackBtn{
        color: white;
        text-decoration: none;
        font-size: 6vw;
    }
}