
ion-menu.md{
  margin-top: 60px;
    display: block;
  height: 100%;
  --width: 100%;
  --background:#bad9d9; //image
background-image: url("https://www.bing.com/images/search?q=image+de+beach&id=C5221C0D5AD97A19C686CED12112159F776B4D70&FORM=IQFRBA");
}

ion-list.list-md {
  --width: 100%;
  padding-top: 40px;
  padding-right: 20%;
  padding-left: 20%;
  height: 300px;
  --ion-background-color: #bad9d9(#bad9d9);

}
ion-item.md{
  --background:#bad9d9 !important;


}
ion-label.md{
 --background: #bad9d9;
    text-align: center;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding-bottom: 3px;
}
ion-toolbar.md{
  --background: #bad9d9 !important;
}
div.img-below-menu{
  background-color: #2dd36f;
}
