ion-menu.md{
  display: block;
  height: 100%;
  --width: 100%;
}
ion-card.menu-card{
  margin: 0px;
box-shadow: none;
  --background:#bad9d9;
}
ion-list.list-md {
  --width: 100%;
  padding-bottom: 4px;
  height: 300px;
  --ion-background-color: #bad9d9(#bad9d9);
}
ion-item.md{
  padding-right: 20%;
  padding-left: 20%;
}
ion-label.md{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #f2f2f0;
  padding-bottom: 7px;
}
ion-label.md:hover{
  border-bottom-color: #bf8c6f;
  color: #8c5e4d ;
}
ion-toolbar.menu-toolbar{
  margin-bottom: 10px;
}