// // --background none to get background image to work 
.profileWrapper{
        --background: none;
    background: url("../assets/images/beach.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}
